<div class="modal-header">
    <h4 class="modal-title">My Form</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <form #myForm="ngForm" (ngSubmit)="submitForm()">
    <div class="modal-boy">
      <div class="container">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" name="email" class="form-control"
          [(ngModel)]="areariservatadto.email" #name="ngModel" >
        </div>
        
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" class="form-control"
            [(ngModel)]="areariservatadto.password" #name="ngModel" >
          </div>

          <div class="form-group">
              <label for="nome">Nome</label>
              <input id="nome" name="nome" class="form-control"
              [(ngModel)]="areariservatadto.nome" #name="ngModel" >
            </div>

            <div class="form-group">
                <label for="cognome">Cognome</label>
                <input id="cognome" name="cognome" class="form-control"
                [(ngModel)]="areariservatadto.cognome" #name="ngModel" >
              </div>
      </div>
    </div>
    <div class="modal-footer">

      <p class="checkbox">
          <input required type="checkbox" name="privacy"  [(ngModel)]="areariservatadto.privacy">Dichiaro di avere letto l'informativa sulla privacy ed autorizzo il trattamento dei miei dati.<br>
          <input required type="checkbox" name="condizioni"  [(ngModel)]="areariservatadto.condizioni">Dichiaro di avere letto e di accettare termini e condizioni.<br>
      </p>

      <button class="btn btn-success"
        [disabled]="!myForm.valid">
        Registrati
      </button>
    </div>
  </form>